@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Russo+One&display=swap');

:root {
  --purple-bg: #2c024c;
  --dark-purple-bg: #1b0037;
  --black-bg: #101010;

  --purple-primary: #6101e1;
  --purple-secondary: #6f02d0;
  --dark-purple: #101010;
  --ghost-purple: #3c0071;
  --ghost-pink-60: #ff5cfd60;
  --pink-highlight: #ff5cfd;
  --dark-pink: #9e04c6;

  --purple-gradient-bg: linear-gradient(
    360deg,
    var(--dark-purple-bg) 0%,
    var(--purple-primary) 100%
  );
  --dark-purple-gradient-bg: linear-gradient(
    180deg,
    var(--dark-purple) 0%,
    var(--dark-purple-bg) 49%,
    var(--dark-purple) 100%
  );

  --white: #eee0ff;
  --ghost-white-80: #eee0ff80;
  --ghost-white-60: #eee0ff60;
  --gray-text: #c0b3ce;
  --alert: #ff0000;
  --success: #5cff8a;

  --russo-one: 'Russo One', sans-serif;
  --quantico: 'Quantico', sans-serif;

  --radius-xs: 8px;
  --radius-sm: 16px;
  --radius-md: 24px;
  --radius-lg: 32px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}

body {
  background: var(--dark-purple-gradient-bg);
  font-family: var(--quantico);
  min-height: 100vh;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3 {
  color: var(--white);
  font-family: var(--russo-one);
  text-align: center;
}

h1 {
  font-size: 2rem; /* 32px */
  font-weight: 800;
  margin-bottom: 1.25rem; /* 20px */
}
h2 {
  font-size: 1.875rem; /* 30px */
  font-weight: 700;
  margin: 8px 0 16px 0;
}
h3 {
  font-size: 1.5rem; /* 24px */
  font-weight: 600;
  margin-bottom: 0.75rem; /* 12px */
}
h4 {
  font-size: 1.0625rem; /* 17px */
  margin-bottom: 0.625rem; /* 10px */
}

button {
  all: unset;

  background-color: var(--purple-primary);
  border-radius: var(--radius-lg);
  border: 1px solid var(--white);
  padding: 12px 24px;

  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-family: var(--russo-one);
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--accent);
}
