.store-container {
    display: grid;
    grid-template-columns: 1fr 450px;
    gap: 48px;
    max-width: 1280px;
    margin: 8rem auto 3rem;
    padding: 0 24px;
}

.content-left {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.main-preview {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.featured-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #d7b5ff37;
    width: 62px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.nav-arrow svg {
    width: 35px;
    height: 35px;
    fill: var(--white);
}

.nav-arrow.prev {
    left: 16px;
}
.nav-arrow.next {
    right: 16px;
}

.thumbnail-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.thumb img {
    width: 100%;
    border-radius: 6px;
    opacity: 0.6;
    cursor: pointer;
    border: 2px solid transparent;
    transition: var(--transition);
}

.thumb img:hover {
    opacity: 1;
    border-color: var(--white);
}

.thumb.active img {
    opacity: 1;
    border: var(--border-purple);
}

.about-section {
    padding: 24px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.4);
}

.description-text {
    margin-top: 12px;
}

.description-text p {
    color: #b3b3b3;
    line-height: 1.6;
    font-size: 0.95rem;
}

.toggle-more {
    margin-top: 10px;
    color: var(--pink-highlight);
    background: none;
    border: none;
    cursor: pointer;
}

.sidebar-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.game-header h1 {
    font-size: 1.8rem;
    margin: 6px 0;
    width: fit-content;
    max-width: 100%;
}

.game-subtitle {
    font-size: 0.9rem;
    color: #aaa;
}

.badge-popular {
    font-size: 0.7rem;
    color: var(--pink-highlight);
    text-transform: uppercase;
}

.price-container {
    display: flex;
    gap: 12px;
    align-items: center;
    font-size: 1.6rem;
}

.original-price {
    text-decoration: line-through;
    font-size: 1rem;
    color: #888;
}

.offer-timer {
    padding: 16px;
    border-radius: 10px;
    border: 1px solid #7c3aed;
}

.timer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    margin-top: 10px;
}

.timer-unit {
    background: #7c3aed;
    text-align: center;
    padding: 8px;
    border-radius: 6px;
}

.time-val {
    font-size: 1.2rem;
}

.time-label {
    font-size: 0.7rem;
    color: #ddd;
}

.game-meta {
    font-size: 0.85rem;
    color: #bbb;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.platform-section .platform-title {
    font-size: 1.3rem;
}

.platform-section span {
    font-size: 0.9rem;
}

.platform-options {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.platform-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 12px;
    align-items: center;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: var(--transition);
}

.platform-card.active {
    border-color: var(--white);
    background: var(--purple-secondary);
}

.purchase-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.action-row-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.btn {
    padding: 10px;
    border-radius: var(--radius-xs);
    cursor: pointer;
}

.btn-wishlist {
    border: 1px solid var(--white);
    background: transparent;
}

.btn-cart {
    background: var(--white);
    color: var(--black-bg);
}

.btn-buy-now {
    background: var(--purple-secondary);
    box-sizing: border-box;
    width: 100%;
}

.you-may-like-wrapper {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto 4rem;
    padding: 0 24px;
}

.you-may-like-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    gap: 1.3rem;
    margin-top: 20px;
}

.game-card {
    padding: 1rem;
    border-radius: var(--radius-sm);
    background: var(--black-bg);
    border: var(--border-ghost-purple);
    text-align: left;
    transition: 0.2s;
}

.game-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 0 18px var(--purple-primary);
    border: 2px solid var(--purple-primary);
}

.game-card img {
    width: 100%;
    height: auto;
    border-radius: var(--radius-xs);
    background: var(--ghost-purple);
    margin-bottom: 12px;
}

.game-title {
    font-family: var(--russo-one);
    margin-bottom: 8px;
}

.game-discount {
    color: var(--success);
    font-size: 0.9rem;
}

.game-old-price {
    text-decoration: line-through;
    color: var(--ghost-white-60);
    margin-left: 6px;
}

.game-price {
    display: block;
    margin-top: 4px;
    font-weight: bold;
}
