body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: url('../img/purple_spikes.png') no-repeat center;
  background-size: cover;
}

.container {
  max-width: 420px;
  padding: 30px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}

/* Subtexto */
p {
  text-align: center;
  font-size: 0.95rem;
  color: var(--white);
  margin-bottom: 1rem;
}

p:last-of-type {
  margin: 0.3rem 0;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Labels */
label {
  font-size: 0.8rem;
  color: #cbb6ff;
}

/* Inputs */
input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.05);
  color: #fff;

  transition: all 0.2s ease;
}

/* Focus bonito */
input:focus {
  outline: none;
  border: 1px solid var(--pink-highlight);
  box-shadow: 0 0 10px rgba(168, 85, 247, 0.6);
}

/* Regras de senha */
ul {
  font-size: 0.75rem;
  color: #9f8acb;
  margin-bottom: 10px;
  padding-left: 18px;
}

/* Botão principal */
button:first-of-type {
  margin-top: 10px;
  padding: 12px;
  border: none;
  border-radius: 999px;

  background: linear-gradient(90deg, #7c3aed, #a855f7);
  color: var(--white);
  font-weight: bold;
  cursor: pointer;

  transition: 0.2s;
}

/* Glow no hover */
button:first-of-type:hover {
  box-shadow: 0 0 15px rgba(168, 85, 247, 0.8);
  transform: scale(1.02);
}

/* Separador "or" */
span {
  display: block;
  text-align: center;
  margin: 10px 0;
  font-size: 0.9rem;
  color: #aaa;
}

/* Botão secundário */
button:last-of-type {
  padding: 10px;
  border-radius: 999px;
  background: transparent;
  border: 1px solid var(--white);
  color: var(--white);
  cursor: pointer;

  transition: 0.2s;
}

button:last-of-type:hover {
  background: rgba(168, 85, 247, 0.1);
}

/* Links */
a {
  color: var(--pink-highlight);
  text-decoration: none;
  font-size: 0.9rem;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Texto final */
body > span:last-of-type {
  text-align: center;
  display: block;
  margin-top: 15px;
  font-size: 0.2rem;
}

.footer-actions {
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 0.9rem;
}
